* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* banner section start */
.banner-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    background-color: rgba(229, 84, 115, 0.10);
    margin-bottom: 110px;
}

.banner-text h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 650;
}

.banner-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

.btn {
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner-img {
    margin-bottom: -7px;
}

.banner-img img {
    width: 100%;
}

/* banner section end */

/* featured flowers section start */
.featured-title {
    text-align: center;
}

.featured-title h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.flower-tree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 55px;
}

.flower-img p {
    margin: 12px 0;
}

.flower-img p u {
    color: #272727;
    font-size: 24px;
    font-weight: 600;
}

.pink-1 {
    width: 100%;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0;
}

.pink-2 {
    width: 100%;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
}

.pink-3 {
    width: 100%;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0;
}

/* featured flowers section end */

/* service section start */
.services-support-area {
    margin: 100px 0;
}

.services-support {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    width: 80%;
    margin: 0 auto;
    padding: 86px 146px;
}

.services-support p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 500;
}

/* service section end */

/* beautiful flowers section start */
.beautiful-flowers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 90px;
}

.beautiful-img img {
    width: 400px;
}

.beautiful-title h6 {
    color: #272727;
    font-size: 24px;
    font-weight: 600;
}

.beautiful-title h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.btn-shop {
    width: 188px;
    margin: 0 auto;
}

/* beautiful flowers section end */

/* sale section start */
.hot-deal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 80px;
    margin-bottom: 100px;
}

.sale-text h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.off-color {
    color: #E55473;
}

.sale-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

.sale-img img {
    width: 100%;
}

/* sale section end */

/* instagram section start */
.instagram-text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.instagram-text h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 13px 0px 40px;
}

.instagram-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram-img img {
    width: 100%;
}

/* instagram section end */

/* latest deals section start */
.latest-deals {
    background-image: url('./img/flower-img/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 449px;
}

.latest-deals h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.latest-deals p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0px 30px;
}

.latest-deals input[type="email"] {
    width: 700px;
    padding: 23px 25px;
    border: 0;
    border-radius: 8px;
    background-color: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
}
/* latest deals section end */